/* ==== reset ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

/* variables */
:root {
    --color0: #272532;
    --color1: #373b69;
    --color2: #e50914;
    --color3: #88ff00;
    --color4: #ffa600;
    --color5: #ebe5e2;
    --color6: #fff;
    --color7: #22254b;
    --color8: #708ED2;
}

body {
    background-color: var(--color0);
    overflow-x: hidden;
}

/* ==== header ==== */
header {
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    -ms-flex-line-pack: distribute;
    align-items: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    padding: 1rem;
}

header h1 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: var(--color2);
    text-shadow: 0 1px 1px var(--color8);
    cursor: pointer;
}

.search {
    background-color: transparent;
    color: var(--color6);
    border: 2px solid var(--color7);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search:focus {
    background-color: var(--color7);
    outline: none;
}

/* ==== main ==== */
main {
    display: flex;
    justify-content: center;
    -ms-flex-line-pack: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

/* ==== movie//js ==== */
.movie {
    background-color: var(--color1);
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;
    margin: 1rem;
    width: 300px;
    cursor: pointer;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: var(--color5);
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -ms-flex-line-pack: distribute;
    padding: 0.5rem 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: var(--color0);
    border-radius: 100px;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
}

.movie-info span.green {
    color: var(--color3);
}

.movie-info span.orange {
    color: var(--color4);
}

.movie-info span.red {
    color: var(--color2);
}

.overview {
    background-color: var(--color8);
    color: var(--color0);
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(101%);
    -o-transform: translateX(101%);
    -ms-transform: translateX(101%);
    -moz-transform: translateX(101%);
    -webkit-transform: translateX(101%);
    transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in;
}

.overviewTitle {
    color: var(--color0);
}

.movie:hover .overview {
    transform: translatex(0);
    -o-transform: translatex(0);
    -ms-transform: translatex(0);
    -moz-transform: translatex(0);
    -webkit-transform: translatex(0);
}

/* ==== media queries in header ==== */
@media only screen and (max-width: 464px) {
    header {
        background-color: var(--color1);
        display: flex;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-items: center;
        -ms-flex-align: center;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        padding: 1rem;
    }
}