/* ==== reset ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #272532;
    overflow-x: hidden;
}

/* ==== header ==== */
header {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

header h1 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #e50914;
    text-shadow: 0 1px 1px #708ED2;
}

.search {
    background-color: transparent;
    color: #fff;
    border: 2px solid #22254b;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

/* ==== main ==== */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ==== movie//js ==== */
.movie {
    background-color: #373b69;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #EBE5E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #272532;
    border-radius: 100px;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}

.movie-info span.green {
    color: #b2ff57;
}

.movie-info span.orange {
    color: #ffa500;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #708ED2;
    color: #fff;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translatex(0);
}